extends layout
 
block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Email: 
            input(type="text", email="email")
        div.input
            span.label Password: 
            input(type="text", name="password")
        div.actions
            input(type="submit", value="Log In")
        a(href='/')
         button(type="button") Back to Question List