extends layout

block content
 div
  h1 #{title}
 if questions
   each question in questions
    div #{question.question} #{question.author}
 a(href='/newquestion')
  button(type="button") create new question