extends layout
 
block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label Name
            input(type="text", name="name")
        div.input
            span.label Email
            input(type="text", name="email")
        div.input
            span.label Password
            input(type="text", name="password")
        div.actions
            input(type="submit", value="add")
        a(href='/')
         button(type="button") back