body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  margin: 3px;
}

input[type=text] {
  width: 30%;
  padding: 12 px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
div {
  margin: 3px;
}
.space {
  margin-top: 10px;
}
